<div id="home-info">
  <div id="home-title">
    Share photos with your close friends
  </div>
  <div id="home-subtitle">
    Photo makes your friendship well.
  </div>
  <div id="sign-in-link">
    <%= link_to image_tag('btn_fb.png'), "/auth/facebook" %>
  </div>
</div>