// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#more-btn {
  position:relative;
  width:938px;
  height:20px;
  text-align: center;
  margin: 20px 0 50px;
  clear: both;
}

#more-btn a {
  color: #333;
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  border-style: dotted;
  border-width: thin;
  top:0;
}