// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-module {
  height: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.title {
  height: 50px;
  float: left;
}

.link {
  height: 30px;
  padding: 15px 0;
  float: right;
}

#groups-list {
  height: 170px;
}

#groups-list li {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 10px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 10px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

#back-group {
  height: 150px;
  width: 100px;
  top: 205px;
  position: absolute;
}

#groups-elements {
  left: 290px;
  position: absolute;
}

#next-group {
  height: 170px;
  width: 100px;
  top: 205px;
  left: 1130px;
  position: absolute;
}

#new-photos {
  clear: both;
}

.new-photos-elements {
  margin: 0 2px 20px 2px;
  float: left;
}

.albums-elements {
  margin: 0 2px 20px 2px;
  float: left;
}

#group-information {
  height: 110px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 0 50px 16px;
}

#group-name {
  width: 70%;
  float: left;
}

#group-name h3 {
  margin: 0;
}

#group-description {
  width: 70%;
  color: #777777;
  float: left;
}

#group-main-information {
  height: 70px;
  border-bottom: 1px solid #ddd;
}

#group-users {
  width: 70%;
  margin: 10px 0 0;
  float: left;
}

#invite-friends {
  margin: 10px 0 0;
  float: right;
}

#group-edit {
  margin: 10px 0 0;
  float: right;
}

.box {
  padding: 8px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin-bottom: 5px;
}

.effect {
  position: relative;
}

.effect:before, .effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.photo-text {
  text-align: center;
}

.photo-text strong {
  font-size: 14px;
}