// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.added-photo {
  margin: 0 2px 20px 2px;
  padding-bottom: 0;
  float: left;
}

.photo-info {
  text-align: right;
  margin: 5px 0 0;
  float: right;
}

.like-count {
  display: inline-block;
}

.comment-count {
  display: inline-block;
}

.like-submit {
  float:left;
}

form {
  display: inline;
}

#main-photo {
  text-align: center;
}

#photo-meta {
  margin: 5px 10px 40px;

  h3 {
    display: inline;
  }

  .like-submit {
    float: right;
    font-size: 26px;
    font-weight: bold;
  }
}

.photo-user {
  float: left;
  width: 70%;
}

#photos-album {
  clear: both;
  margin: 0 0 30px;
}

#photos-reputation {
  margin: 0 0 50px;
}

#photos-comment {
  width: 510px;
  float:left;
  form div {
    margin: 5px 0 0;
  }

  #comment_body {
    width: 500px;
    margin-bottom: 5px;
  }

  textatea {
    width: 500px;
  }

  input {
    float: right;
  }

  .show-comments {
    height: 50px;
    margin: 5px 0 5px;
  }
}

#photos-like {
  width: 35%;
  float: right;
}

.commenter-image {
  width: 40px;
  float:left;
}

.commenter-meta {
  margin: 0 0 0 10px;
  float:left;

  a {
    font-weight: bold;
  }
}

#like-user {
  margin-top: 5px;
}