// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.added-photo {
  display: inline-block;
  padding-bottom: 0;
}

.photo-info {
  text-align: right;
  margin: 5px 0 0;
  float: right;
}

.like-count {
  display: inline-block;
}

.comment-count {
  display: inline-block;
}

.like-submit {
  float:left;
}

form {
  display: inline;
}